body
{
    font-family: "Helvetica Bold", sans-serif;
    background:#fff;
    font-size:80%;
}

a {
     text-decoration: none;
     color: #FF0000;
}

h2 {
	font-size:14px
}

h3 {
	font-size:12px
}

#hd {
    background:#F0DD93;
    border-style: solid;     
    border-width: 0px 0px 1px 0px;       
    border-color: #541607; 
}

#ft {
    background:#F0DD93;
    border-style: solid;     
    border-width: 1px 0px 0px 0px;       
    border-color: #541607; 
	padding:2px;
	font-size:12px
}

#menu {
	background:#F0DD93;
    border-style: solid;     
    border-width: 0px 0px 1px 0px;       
    border-color: #541607; 
	font-size:16px;
	text-align:center;
	font-weight:bold;
}

#intro {
 	background:#F0DD93;
    border-style: solid;     
    border-width: 1px 1px 1px 1px;   
	border-color: #541607;   
	padding:2px;  
	font-size:13px;
 }
#selected {
	background-color: Yellow;
	}  

#wrapper {
   padding:5px;
}
