{% extends "base.html" %}

{% block content %}
    <a href="/item" id="post"><image src="/images/add.png" /> Post a story</a> 
    <div class="sectionheadline">Lastest Buzz</div>
    {% for item in items %}
      <div class="headline"><a href="{{ item.Url|escape }}">{{ item.Title|escape }}</a></div>
      <div class="para">Posted by {{item.Author.nickname}} @{{item.Posted_at|date:"fA"}} on {{item.Posted_at|date:"D dS N y"}}</div>
          <ul class="tags">
          <li>tags:</li>
          {% for tag in item.Tags %}
          <li><a href="?tag={{ tag|escape }}">{{ tag|escape }}</a></li>
          {% endfor %}
          </ul>
      <div class="para"><a href="/comment?k={{ item.key }}">{{item.comment_set.count}} comment{{ item.comment_set.count|pluralize }}</a></div>
      <div class="spacer"></div>
      
      <ul class="social">
        <li>
            <a title="e-mail this story to your friends" href="http://www.feedburner.com/fb/a/emailFlare?itemTitle=Ma+da+ceiling+cat+witnesses+r%26nbsp%3Bhere&uri=http://icanhascheezburger.com/2008/06/09/funny-pictures-scratchtower-magazine-4-u/" rel="nofollow" target="_blank">e-mail it</a>
        </li>
        <li class="facebook"> 
            <a id="facebook" title="Post this story to Facebook" href="http://www.facebook.com/sharer.php?u=http://news.bbc.co.uk/1/hi/england/staffordshire/7443222.stm" target="_blank">Facebook</a> 
        </li>
        <li class="delicious"> 
            <a id="delicious" title="Post this story to Delicious" href="http://del.icio.us/post?url=http://news.bbc.co.uk/1/hi/england/staffordshire/7443222.stm&amp;title=Footballer in court over deaths" target="_blank">Delicious</a> 
        </li>
        <li class="digg"> 
            <a id="digg" title="Post this story to Digg" href="http://digg.com/submit?url=http://news.bbc.co.uk/1/hi/england/staffordshire/7443222.stm&amp;title=Footballer in court over deaths" target="_blank">Digg</a> 
        </li>
        <li class="stumbleupon"> 
            <a id="stumbleupon" title="Post this story to StumbleUpon" href="http://www.stumbleupon.com/submit?url=http://news.bbc.co.uk/1/hi/england/staffordshire/7443222.stm&amp;title=Footballer in court over deaths" target="_blank">StumbleUpon</a> 
        </li>
        <li class="reddit"> 
            <a id="reddit" title="Post this story to reddit" href="http://reddit.com/submit?url=http://news.bbc.co.uk/1/hi/england/staffordshire/7443222.stm&amp;title=Footballer in court over deaths" target="_blank">reddit</a> 
        </li>
      </ul>

     
    {% endfor %}
    {# {% if items_count > 10 : %} Greater than 10 #}
    {{items_count}}
{% endblock %}