{% extends "base.html" %}

{% block rssfeed %}
<link href="{{ rss_url }}" rel="alternate" type="application/rss+xml" title="FansBuzz RSS Feed {{tag}}" />
{% endblock %}

{% block content %}
    <a href="/item" id="post"><image src="/images/add.png" /> Post a story</a> 
    <div class="sectionheadline">Hot off the press {{ tag }}<!--Lastest Buzz {{ tag }} --><a href="{{ rss_url }}"><img src="/images/rss.png" /></a></div>
    {% for item in items %}
      <div class="headline"><a href="{{ item.Url|escape }}">{{ item.Title }}</a></div>
      <div  class="source">Source: {{ item.Url|urlizetrunc:50 }}</div>
      <div class="para">Posted by {{item.Author.nickname}} @{{item.Posted_at|date:"fA"}} on {{item.Posted_at|date:"D dS N y"}}</div>
          <ul class="tags">
          <li>tags:</li>
          {% for tag in item.Tags %}
          <li><a href="?tag={{ tag|escape }}">{{ tag|escape }}</a></li>
          {% endfor %}
          </ul>
      <div class="para"><a href="/comment?item={{ item.Title|escape }}&k={{ item.key }}">{{item.comment_set.count}} comment{{ item.comment_set.count|pluralize }}</a></div>
      <div class="spacer"></div>
      
      <ul class="social">
        <li>Share this item:</li>
        <li class="email">
            <a title="e-mail this story to your friends" href="http://www.feedburner.com/fb/a/emailFlare?itemTitle={{ item.Title|escape }}&uri=http://www.fansbuzz.com/comment%3fk={{ item.key }}" rel="nofollow" target="_blank">e-mail it</a>
        </li>
        <li class="facebook"> 
            <a id="facebook" title="Post this story to Facebook" href="http://www.facebook.com/sharer.php?u=http://www.fansbuzz.com/comment%3fk={{ item.key }}" target="_blank">Facebook</a> 
        </li>
        <li class="delicious"> 
            <a id="delicious" title="Post this story to Delicious" href="http://del.icio.us/post?url=http://www.fansbuzz.com/comment%3fk={{ item.key }}&amp;title={{ item.Title|escape }}" target="_blank">Delicious</a> 
        </li>
        <!--
        <li class="digg"> 
            <a id="digg" title="Post this story to Digg" href="http://digg.com/submit?url=http://www.fansbuzz.com&amp;title={{ item.Title|escape }}" target="_blank">Digg</a> 
        </li>
        -->
        <li class="stumbleupon"> 
            <a id="stumbleupon" title="Post this story to StumbleUpon" href="http://www.stumbleupon.com/submit?url=http://www.fansbuzz.com/comment%3fk={{ item.key }}&amp;title={{ item.Title|escape }}" target="_blank">StumbleUpon</a> 
        </li>
        <li class="reddit"> 
            <a id="reddit" title="Post this story to reddit" href="http://reddit.com/submit?url=http://www.fansbuzz.com/comment%3fk={{ item.key }}&amp;title={{ item.Title|escape }}" target="_blank">reddit</a> 
        </li>
      </ul>
 <div class="largespacer"></div>
     
    {% endfor %}
    <div class="para">
    {% if back_page_url %}
        <a href="{{ back_page_url }}"><< Previous</a> 
    {% endif %}
    
    {% if page_url %}
        more stories: <a href="{{ page_url }}">Next >></a> 
    {% endif %}
    </div>
    
{% endblock %}