{% extends "base.html" %}

{% block content %}
    <h2>Post an item</h2>
    {% if form.errors %}
    
    <b>Please go back and correct the following error{{ form.errors|pluralize }}:</b>
    <ul>
        {% for e in form.errors.items %}
        <li>Field "{{ e.0 }}": {{ e.1|join:", " }}</li>
        {% endfor %}
    </ul>
    
    {% endif %} 
    <form method="POST" action="/item">
    <div class="box">
    <label for="Title"><span>Title:</span> {{ form.Title }}</label>
    <label for="Title"><span>Description:</span> {{ form.Description }}</label>
    <label for="Url"><span>Url:</span> {{ form.Url }}</label>
        <label for="Tags"><span>Tags:<br />(To select multiple clubs hold down ctrl)</span>
            <select multiple="true" name="Tags" size="10">
            <optgroup label="General">
                <option value="General" selected="True">General</option>
                <option value="Gossip">Gossip</option>
                <option value="Match Day">Match Day</option>
                <option value="Transfer">Transfer</option>
            </optgroup>
            <optgroup label="Clubs">                   
                {% for t in tags %}   
                <option value="{{t}}">{{t}}</option> 
                {% endfor %}                
            </optgroup>
            <optgroup label="International">
                <option value="Brazil">Brazil</option>
                 <option value="England">England</option>
                 <option value="Holland">Holland</option>
                 <option value="Italy">Italy</option>
                 <option value="N.Ireland">N.Ireland</option>
                 <option value="Portugal">Portugal</option>
                 <option value="Rep of Ireland">Rep of Ireland</option>
                 <option value="Scotland">Scotland</option>
                 <option value="Spain">Spain</option>
                 <option value="Wales">Wales</option>         
                 <option value="Other International">Other International</option>
            </optgroup>
    </select></label>
    <input type="hidden" name="Tags" value="Football" />
    <label><span>&nbsp;</span><input type="submit" value="Buzz it" /></label>
    </div>
    </form>



{% endblock %}


