body
{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
    background:#fff;
    font-size:80%;
}

div.box .input-text{
    border:1px solid #3b6e22;
    color:#666666;
}

div.box label{
    display:block;
    margin-bottom:10px;
    color:#555555;
}

div.box label span{
    display:block;
    float:left;
    padding-right:6px;
    width:100px;
    text-align:right;
    font-weight:bold;
}

div.box input .input-text{
	border:1px solid #3b6e22;
	color:#666666;
	width:180px;
}

.spacer {
    margin-bottom:10px;
}

.auth {
    color:#cccccc;
}

.formbtn{
background:url(img/green.gif);
padding:0px 6px;
border:1px solid #3b6e22;
height:24px; 
line-height:24px;
color:#FFFFFF;
font-size:12px;
margin-right:10px;
display:inline-block;
text-decoration:none;
}

.tags, .social
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.tags li, .social li{
    display: inline
}

