body
{
    font-family: Georgia, "Times New Roman", Times, serif;
    background:#fff;
    font-size:80%;
    margin:0px;
}

a {
     text-decoration: none;
     color: #FF0000;
}

img{
    border:0px;
}

a:hover {
    text-decoration:underline;
}

div.box .input-text{
    border:1px solid #3b6e22;
    color:#666666;
}

div.box label{
    display:block;
    margin-bottom:10px;
    color:#555555;
}

div.box label span{
    display:block;
    float:left;
    padding-right:6px;
    width:150px;
    text-align:right;
    font-weight:bold;
}

div.box input .input-text{
	border:1px solid #3b6e22;
	color:#666666;
	width:180px;
}

.spacer {
    margin-bottom:10px;
}

.largespacer {
    margin-bottom:25px;
}

.auth {
    color:#666666;
}

.formbtn{
    background:url(img/green.gif);
    padding:0px 6px;
    border:1px solid #3b6e22;
    height:24px; 
    line-height:24px;
    color:#FFFFFF;
    font-size:12px;
    margin-right:10px;
    display:inline-block;
    text-decoration:none;
}

.tags, .social
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.tags li, .social li{
    display: inline;
    font-size: 12px;
    font-family: "Lucida Grande", Tahoma;

}

.social li a {
    color:#666666;
}

.social li a:hover {
    color:#eee;
}

.social li.email{background:url("/images/email.png") no-repeat 0 0;}

.social li.delicious,.social li.digg, .social li.reddit,.social li.facebook ,.social li.stumbleupon,.social li.email{
     padding-left:20px
}

.social li.delicious{background:url("/images/delicious.gif") no-repeat 0 0;}
.social li.digg{background:url("/images/digg.gif") no-repeat 0 0;}
.social li.reddit{
	background:url("/images/reddit.gif") no-repeat 0 0;
}
.social li.facebook{background:url("/images/facebook.gif") no-repeat 0 0;}
.social li.stumbleupon{background:url("/images/stumbleupon.gif") no-repeat 0 0;}

.sectionheadline {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:24px;
    font-weight: 900;
    color: #222;
}

.headline, .headline a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:20px;
	margin-top: 5px; margin-bottom: 0px;
    font-weight: normal;
    color: #222;

    }
    
.headline a:hover {
    color: Red;

    }
    
.description, .description a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:14px;
	margin-top: 5px; margin-bottom: 0px;
    font-weight: normal;
    color: #222;

    }
    
.comment {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:18px;
	margin-top: 5px; margin-bottom: 0px;
    font-weight: normal;
    color: #222;
    }

.para {
    font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
        margin-top: 10px;
	letter-spacing: 0.3em;

}

.introText {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 5px;
    padding:10px;
    background:#F0DD93;
    border-style: solid;     
    border-width: 1px;       
    border-color: #541607; 
}

.headerStyle
{
    background:#F0DD93;
    border-style: solid;     
    border-width: 1px;       
    border-color: #541607; 
}

.source {
    font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	color: #666666;
    margin-top: 0px;
	letter-spacing: 0.3em;

}

#post{
    font-weight:900;
    font-size:20px;    
    padding:5px;
}

/*yahoo extensions */
#doc3 {
    margin:auto 0px !important;
}

.yui-g ,#hd img, #ft{
    margin:auto 20px !important;
}

#hd {
    background:#F0DD93;
    border-style: solid;     
    border-width: 0px 0px 1px 0px;       
    border-color: #541607; 
}

#topNav{
	margin: 0;
	padding: 0;
	list-style: none;
    display:inline;
}

#topNav li {
    display: inline;
    border-style: solid;     
    border-width: 1px 1px 1px 1px;       
    border-color: #541607; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:24px;
    margin-left:10px;
    padding:5px 8px 0px 8px;
}
#topNav li.navSel {
    background-color:#fff;
    border-bottom-color: #fff;
}


#legal {
   color:#666666;
}

